@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Maven+Pro:wght@400..900&display=swap');

.f-1 {
    font-family: "Inter";
}

.f-2 {
    font-family: "Maven Pro";
}

.bg-1 {
    background-color: #161616;
}

.bg-2 {
    background-color: #D6A56E;
}

.bg-3 {
    background-color: #202020;
}

.txt-2 {
    color: #D6A56E;
}

.txt-sidebar {
    color: #FFFFFF;
}

.txt-sidebar:hover {
    background-color: #FFFFFF;
    color:#161616;
    border-radius: 5px;
}

.btn-home-1 {
    background-color: transparent;
    border-color: #D6A56E;
    color: #D6A56E;
    border-width: 2px;
    border-radius: 0.5rem;
    text-align: center;
    text-decoration: none;
} 

.btn-home-1:hover {
    background-color: transparent;
    border-color: white;
    color: white;
} 

.bg-image {
    background-size: cover;
    background-position: center;
}

.custom-pagination .page-item .page-link {
    color: #D6A56E; /* Text color */
    background-color: #000000; /* Background color */
    border-color: #D6A56E; /* Border color */
}

.custom-pagination .page-item .page-link:hover {
    color: #ffffff; /* Hover text color */
    background-color: #D6A56E; /* Hover background color */
    border-color: #ffffff; /* Hover border color */
}

.custom-pagination .page-item.active .page-link {
    background-color: #D6A56E;
    border-color: #D6A56E;
    color: #ffffff;
}

.review-border {
    border: 2px solid #D6A56E; /* Adjust the border color and thickness as needed */
    border-radius: 1rem; /* Adjust the roundness as needed */
    display: inline-block;
}

.btn-review {
    background-color: #D6A56E;
    border-color: #D6A56E;
    color: #161616;
    border-width: 2px;
    border-radius: 0.5rem;
    text-align: center;
    text-decoration: none;
} 

.btn-review:hover {
    background-color: transparent;
    border-color: #D6A56E;
    color: #D6A56E;
} 